:root {
  --text-color1: #27272e; /* h2 */
  --text-color2: #425466;
  --input-text: #7a828a;
  --testText-color: #1a202c;
  --aplicant-color: #718096;
  --active-color: #4c6fff;
  --bg-color: #e5e5e5;
  --border-radius: 0.7rem;
}

@font-face {
  font-family: "inter";
  src: url("./assets/font/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:active {
  color: var(--text-color1);
}

/* display none */
.none {
  display: none;
}

/*   ##########  BEGIN REGISTER PAGE ############ */
.register {
  width: 100vw;
  max-width: 1345px;
  height: 100%;
  max-height: 750px;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  margin: 0.1rem auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s linear all;
}
.close--register {
  transform: translateY(-200%);
}
.register--head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
.register--head h2 {
  color: #846aff;
  font-size: 2rem;
  margin-left: 0.4rem;
}
.register--form {
  width: 40%;
  margin: 8rem auto 0;
}
.register--form h2 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 136.02%;
  margin: 1rem 0;
  text-align: center;
  color: var(--text-color1);
}
.register--small {
  font-size: 1.6rem;
  line-height: 162.02%;
  text-align: center;
  display: block;
  color: var(--text-color1);
}
.register--form ul {
  width: 90%;
  margin: 1rem auto;
}
.register--form ul li {
  margin: 1.5rem 0;
}
.register--label {
  display: block;
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--text-color2);
}
.register--input {
  width: 100%;
  background: #edf2f7;
  border-radius: 6px;
  outline: none;
  border: none;
  height: 4.6rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: var(--input-text);
}
.register--input:focus {
  outline: 1px solid aqua;
}
.error--msg {
  color: crimson;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.register--button {
  margin-top: 0.5rem;
  width: 100%;
  height: 46px;
  background: var(--active-color);
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

/*   ##########  END OF  REGISTER PAGE ############ */
/* ############# SIGN UP PAGE ################### */
.sign--up {
  width: 98vw;
  height: 99vh;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  margin: 0.1rem auto;
  max-width: 1350px;
  max-height: 750px;
}

/*   ############################  MAIN SECTION ########## */
.main--section {
  width: 98vw;
  height: 110vh;
  max-width: 1350px;
  min-width: 1320px;
  max-height: 780px;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  margin: 0.1rem auto;
  padding: 0.2rem;
  display: flex;
  overflow: hidden;
}

/*  DASHBOARD */
.dashbord {
  background: #fff;
  width: 20%;
  height: 100%;
  max-height: 780px;
  min-height: 770px;
}

.navbar {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 1rem 2rem;
}
.navbar--top {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar--logo {
  display: flex;
  align-items: center;
}
.navbar--logo img {
  width: 30px;
  height: 30px;
}
.navbar--logo h2 {
  color: #846aff;
  margin-left: 0.5rem;
}
.navbar--list {
  margin: 0;
}
.navbar--list li {
  display: flex;
  align-items: center;
  margin: 2.5rem 0;
  font-size: 1.4rem;
  line-height: 1.7rem;
  gap: 2rem;
  position: relative;
}
/* .navbar--list li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 1.5px;
  height: 100%;
  background: var(--active-color);
} */
.navbar--list > ul > li > span {
  color: var(--text-color2);
}
.nav--icon {
  font-size: 1.7rem;
  color: #a0aec0;
}
.navbar--bottom {
  margin-bottom: 1rem;
  margin-top: 33rem;
}
.navbar--bottom > ul > li {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  margin: 2rem 0;
}
/*   END OF DASHBORD */
/*   RIGHT SIDE  */
.right--side {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.right--side__top {
  background: #fff;
  width: 100%;
  border-left: 1px solid var(--bg-color);
  padding: 1rem 2rem;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.flex h1 {
  color: var(--text-color1);
  font-weight: 600;
  font-size: 2rem;
  line-height: 136.02%;
}
.create--btn {
  padding: 0.8rem 1.8rem;
  font-size: 1.3rem;
  line-height: 12px;
  height: 40px;
  width: 110px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  color: #fff;
  background: var(--active-color);
}
.change--cart ul {
  display: flex;
  margin-bottom: 1.4rem;
  gap: 6rem;
}
.change--cart ul > li {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 10px;
  color: var(--aplicant-color);
}
/*     USER LIST  */
.users--list {
  padding: 1rem 2rem;
}
.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid--item {
  background: #fff;
  border-radius: 16px;
  padding: 1.5rem;
}
.item--img {
  display: flex;
  justify-content: space-between;
}
.item--img p {
  font-size: 1.8rem;
  margin-top: 0.3rem;
}
.img {
  position: relative;
  margin-bottom: 1rem;
}
.img .infinity {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0%;
  right: -10%;
}
.grid--item h4 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.grid--item h5 {
  font-size: 1.3rem;
  line-height: 162%;
}
.grid--item ul {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}
.grid--item > ul > li {
  color: #7a7a9d;
  font-size: 1.3rem;
  line-height: 15px;
  display: flex;
  gap: 0.8rem;
}

#test {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.item--span {
  padding: 2px 8px;
  height: 24px;
  background: #e4ecf7;
  border-radius: 6px;
  border: none;
  font-size: 1.4rem;
}
.test--span {
  font-size: 1.1rem;
}

/*   ############################  END OF MAIN SECTION ########## */

/*   ######  ###### Begin applicants list ############ */
.applicants--section {
  background: #fafafb;
  padding: 1rem 2rem;
}
.applicant--level {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
  padding: 0 1.5rem;
  padding-bottom: 1rem;
}
.applicant--level > li {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 16px;
  color: #8492a6;
}
.applicant--level > li:nth-child(1) {
  width: 35%;
}
.applicant--level > li:nth-child(2) {
  width: 18%;
}
.applicant--level > li:nth-child(3) {
  width: 25%;
}
.applicant--level > li:nth-child(4) {
  width: 25%;
}
/*    #######  begin applicant--list ##### */
.applicant--list {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  padding: 0.8rem 1.5rem 0.4rem;
  margin-bottom: 0.2rem;
}
.first--info {
  width: 34%;
}
.first--info .flex {
  justify-content: flex-start;
  gap: 1.5rem;
}
.first--info__style {
  width: 30px;
  height: 30px;
  background: #ffeef1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #ff92ae;
}
.info--text h5 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 10px;
  color: var(--text-color1);
  margin-bottom: 0.4rem;
}
.info--text small {
  font-weight: 400;
  font-size: 1rem;
  line-height: 10px;
  color: #7a7a9d;
}
.second--info {
  width: 17.3%;
}
.second--info p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 10px;
  color: var(--text-color2);
}
.third--info {
  width: 24.5%;
}
.third--info p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 10px;
  color: var(--text-color2);
}
.fourth--info button {
  padding: 0.4rem 1rem;
  border: none;
  background: var(--active-color);
  border-radius: 6px;
  font-size: 1rem;
  color: #fff;
  line-height: 14px;
}

/*   ######  ###### end of applicants list ############ */

/*   ################  USER ACCOUNT PAGE ############# */
.user--account {
  width: 45%;
  margin: 2.5rem auto;
}
.user--img__upload {
  width: 100%;
  background: #fff;
  padding: 1.8rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.user--account__flex {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.user--account__info h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 25px;
  color: #16192c;
}
.user--account__info p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #425466;
}
.upload--icon p {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #16192c;
}
.upload--icon input {
  display: none;
}
.upload--icon i {
  margin-right: 0.5rem;
}
.account--form {
  width: 100%;
  padding: 1rem 0;
}
.account--form h2 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 25px;
  color: #16192c;
  margin-bottom: 1.5rem;
}
.account--form__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
  gap: 1.8rem;
}
.account--form__flex div {
  width: 50%;
}
.account--form__flex label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  line-height: 17px;
  color: #425466;
}
.account--form__flex input {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 6px;
}
.account--form label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.3rem;
  line-height: 17px;
}

.account--form input[type="email"],
.account--form .input--address {
  border: none;
  background: #fff;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 6px;
  padding: 0.8rem 1rem;
  outline: none;
  margin-bottom: 0.5rem;
}
.account--btn {
  padding: 1rem 1.5rem;
  border: none;
  gap: 10px;
  margin-top: 1.2rem;
  width: 14rem;
  height: 36px;
  background: var(--active-color);
  color: #fff;
  border-radius: 6px;
  display: float;
  float: right;
}
/*   ################  USER ACCOUNT PAGE ############# */
/* =============  TEST RENDER ======== */
.test--time {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.time--icon {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  display: flex;
  gap: 0.5rem;
  color: #846aff;
}
.test--finish {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  background: var(--active-color);
  color: #ffff;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 0.6rem;
}
.test--finish .bi-flag {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
.test--render {
  background-color: #fff;
  width: 97%;
  margin: 1rem auto;
  padding: 1rem 0;
  border-radius: 1rem;
}
.test--warm {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 130%;
  color: var(--active-color);
  margin-left: 2rem;
}
.test--render__list {
  margin-top: 0.5rem;
}
.test--render__list h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 136.02%;
  color: var(--text-color1);
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}
.test--render__list ul {
  margin-left: 2rem;
}
.test--render__list li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 22px;
}
.test--render__list label {
  color: #0a1f44;
}

.test--line {
  display: block;
  height: 1px;
  background: #718096;
  width: 100%;
  opacity: 0.2;
  margin: 2.5rem 0 1.5rem;
}
.test--buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2rem;
  gap: 1.5rem;
}
.test--btn {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  font-size: 1.1rem;
  background: var(--active-color);
  color: #fff;
  border: none;
}

.test--disable {
  background: #ebf2fa;
  color: #a6b7d4;
}
/*  ################   CREATE TEST ############ */
.head--flex {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

/* ############     RESULT ######## */
.test--result {
  background-color: #fff;
  margin: 2rem auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem 0;
}
.result--chard {
  border: 1px solid red;
  width: 150px;
  height: 150px;
  position: relative;
}
.chard--inside {
  width: 100%;
  height: 60%;
  border: 1px solid blue;
  overflow: hidden;
}
.big--circle {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #ebf2fa;
  z-index: 20;
}

.normal--circle {
  width: 80%;
  height: 80%;
  background: #7895ff;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  opacity: 0.2;
  z-index: 21;
}
.blue--circle {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  z-index: 22;
  background: var(--active-color);
}
.small--circle {
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  border-radius: 50%;
  background: #ebf2fa;
  position: absolute;
  z-index: 23;
}
.test--result h3 {
  margin-top: 1.5rem;
  font-size: 2rem;

  line-height: 34px;
  color: var(--text-color1);
}
.test--result table {
  margin: 1rem 0;
}
.test--result tr td {
  margin-right: 1rem;
  padding: 0.3rem 1rem 0.3rem 0;
}
.test--result td span {
  font-size: 1.2rem;
  color: #7a828a;
}
.test--result tr h4 {
  font-size: 2rem;
  color: var(--text-color1);
}
.restart--btn {
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  background: var(--active-color);
  border: none;
}
.restart--btn a {
  color: #fff;
}

/*   ADMIN PANEL  */
.test--create__buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.create--test__btn {
  padding: 1rem 1.5rem;
  background: var(--active-color);
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  border: none;
  border-radius: 6px;
  gap: 0.7rem;
}
.show--test {
  background: none;
  color: #16192c;
  border: 1px solid #edf2f7;
}
.create--test__btn img {
  width: 15px;
}
.add--test {
  width: 95%;
  margin: 2rem auto;
}
.add--test__head {
  background: var(--active-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}
.add--test__head h3 {
  font-size: 2rem;
  line-height: 136.02%;
  color: #fff;
}
.add--test__head p {
  font-size: 1.3rem;
  line-height: 15px;
  color: #fff;
  margin: 0.5rem 0 1rem;
}
.add--test__btn {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  background: #fff;
  color: var(--active-color);
  border: none;
  font-size: 1.2rem;
}
.add--test__body {
  background: #fff;
  padding: 2rem;
  margin-top: 2.5rem;
  border-radius: 1rem;
}
.add--test__body .flex h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 136.02%;
  color: var(--text-color1);
  margin-bottom: 1rem;
}
.add--body__btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.add--body__btns button {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 12px;
  padding: 0.8rem 1.2rem;
  border: none;
  background: none;
  border-radius: 6px;
}
.add--body__btns button:nth-child(1) {
  border: 1px solid #edf2f7;

  color: #16192c;
}
.add--body__btns button:nth-child(2) {
  background: #e4ecf7;
}
.add--label {
  display: block;
  margin: 1rem 0 0.5rem;
  color: #425466;
  font-size: 1.2rem;
  line-height: 17px;
}
#user--question {
  width: 100%;
  padding: 0.8rem;
  background: rgba(237, 242, 247, 0.25);
  border: 1px solid #edf2f7;
  border-radius: 6px;
  outline: none;
}
.add--question--list {
  margin: 1.3rem 0;
}
.add--question--list li {
  margin: 1rem 0;
}
.add--question--list li:nth-child(1) {
  color: #425466;
  font-size: 1.2rem;
  line-height: 17px;
  margin: 0.8rem 0;
}
.add--question--list li label {
  margin-left: 0.5rem;
}

.add--question--list .question--list__input {
  width: 96%;
  padding: 0.8rem;
  background: rgba(237, 242, 247, 0.25);
  border: 1px solid #edf2f7;
  border-radius: 6px;

  outline: none;
}
.add--question--list .bi-x {
  font-size: 1.2rem;
}
