.question--subject--label {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
}
#question--subject {
  width: 50%;
  padding: 0.8rem 2rem 0.8rem 0.8rem;
  background: rgba(237, 242, 247, 0.25);
  border: 1px solid #edf2f7;
  border-radius: 6px;
  outline: none;
}
.admin--validation {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 1.07rem;
  margin-left: 1rem;
}
.admin--overlay {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 998;
  display: none;
}
.admin--modal {
  position: absolute;
  top: -40%;
  left: 38%;
  width: 30%;
  height: 40vh;
  background: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  z-index: 999;
  transition: all 0.5s linear;
}
.admin--modal p {
  font-size: 1.4rem;
  margin: 1rem 0;
}
.admin--btns {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin--btns button {
  padding: 0.6rem 1.7rem;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 0.6rem;
}
.admin--cancel {
  background: crimson !important;
  color: #fff;
}
.admin--save {
  background: #4c6fff !important;
  color: #fff;
}
.adimin--active {
  transform: translateY(200%);
}
